<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>

<body>
    <header>
        <div>
            <h1>ACCESO ADMINISTRADOR</h1>
            <form action="" method="post">
                <label for="name">Nombre: </label>
                <input type="text" id="name" name="name" /><br>
                <label for="email">Email: </label>
                <input type="text" id="email" name="email" /><br>
                <label for="password">Contraseña: </label>
                <input type="password" id="password" name="password" /><br>
                <input type="submit" id="send-signup" name="signup" value="Registrar" />

        </div>

    </header>
</body>

</html>